:root {
    font-size:14px;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: 'helveticabold', sans-serif;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;

    @media #{$desktop} {
        font-size: 3.5rem;
        line-height: 3.5rem;
    } 
}

h2 {
    font-size: 3rem;
    line-height: 3rem;

    @media #{$desktop} {
        font-size: 5rem;
        line-height: 4rem;
    } 
}

a {
    transition: .2s all ease-in-out;
    outline: none;

    &:focus, &:active {
        outline: none;
    }

    &:hover {
        transition: .2s all ease-in-out;
    }
}

.slick-arrow {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    border: 2px solid $primary;
    color: $primary;
    z-index: 100;
    transition: .2s all ease-in-out;

    @media #{$desktop} {
        width: 3.5rem;
        height: 3.5rem;
    }

    &:hover {
        transition: .2s all ease-in-out;
        color: $purple-darker;
        border-color: $purple-darker;
    }

    &.slick-prev {
        left: 15px; 

        &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900; 
            content: "\f053";
            font-size: 1.3rem;

            @media #{$desktop} {
                font-size: 1.8rem;
            }
        }
    }

    &.slick-next {
        right: 15px;

        &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900; 
            content: "\f054";
            font-size: 1.3rem;

            @media #{$desktop} {
                font-size: 1.8rem;
            }
        }
    }
}

.slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    button {
        width: 10px;
        height: 10px;
        display: block;
        border: 2px solid $white;
        text-indent: -9999px;
        overflow: hidden;
        border-radius: 100%;
        padding: 0;
        background-color: transparent;
        margin: 0 .2rem;
    }

    .slick-active {
        button {
            background-color: $white;
        }
    }

}

.btn {
    font-family: 'helveticabold', sans-serif;
    font-size: 1.5rem;

    &.btn-primary {
        color: $secondary;
        -webkit-box-shadow: -2px 2px 2px 1px rgba(0,0,0,.3);
        box-shadow: -2px 2px 2px 1px rgba(0,0,0,.3);
    }

    &.btn-secondary {
        color: $primary;
        -webkit-box-shadow: -2px 2px 2px 1px rgba(0,0,0,.3);
        box-shadow: -2px 2px 2px 1px rgba(0,0,0,.3);
    }
}

#searchform {
    border: 3px solid $orange-light;
    border-radius: 100px;

    .input-group {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    input, button {
        border: 0;
        background-color: transparent;
        color: $orange-light;
        padding: 0 1rem;

        &:focus {
            border: 0;
            outline: 0;
        }
    }

    input {
        width: 40vw;
        font-size: 1rem;

        @media #{$desktop} {
            width: 15rem;
        }
    }

    button {
        font-size: 1.5rem;
    }
}

.card {
    border:0;
    border-radius: 0;
    background-color: $beige; 
    margin-bottom: .5rem;

    .card-header {
        border-radius: 0;
        background-color: $purple-dark;
        color: $beige;
        font-size: 2.5rem;
        line-height: 1;
        letter-spacing: .5rem;
        cursor: pointer;
        transition: .2s all ease-in-out;

        @media #{$desktop} {
            font-size: 5rem;
            letter-spacing: 1rem;
        } 

        strong {
            letter-spacing: 0;
        }

        &:hover {
            background-color: darken($purple-dark, 5%);
            transition: .2s all ease-in-out;
        }

        .container {
            position: relative;
            
            @media #{$mobile} {
                padding-right: 50px;
            }
            
            &::after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900; 
                content: "\f068";
                font-size: 3rem;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &.collapsed {
            .container {
                &::after {
                    content: "\f067";
                }
            }
        }
        
    }

    &.opened {
        margin-bottom: 0;

        .card-header {
            .container {
                &::after {
                    display: none;
                }
            }
        }
    }
}


form {
    input, textarea, select {
        background: transparent;
        color: $orange-light;
        border: 2px solid $orange-light;
        padding: 1rem;
        width: 100%;
    }

    input[type=radio],
    input[type=checkbox] {
        width: auto !important;
    }

    label {
        width: 100%;
    }

    input[type="submit"] {
        border-color: $orange-light;
        background: $orange-light;
        color: $white;
        text-transform: lowercase;
        letter-spacing: .2rem;
        font-size: 1.5rem;
        padding: .5rem 1rem;
        transition: .2s all ease-in-out;
        width: auto;

        &:hover {
            background-color: $orange;
            transition: .2s all ease-in-out;
        }
    }
}

.btn, .stm-lms-buy-buttons .btn:not(.start-course) {
    &.btn-default {
        width: 100%;
        border-color: $orange-light;
        background: $orange-light;
        border-radius: 0;
        color: $white;
        text-transform: lowercase;
        letter-spacing: .2rem;
        font-size: 1.5rem;
        padding: .5rem 1rem;
        transition: .2s all ease-in-out;

        &:hover {
            background-color: $orange !important;
            transition: .2s all ease-in-out;
        }
    }
}

.stm_lms_user_info_top {
    .btn.btn-default {
        width: auto !important;
    }
}

.courses_filters, 
#stm_lms_buy_button, 
// .buy-button,
.stm_lms_instructor_courses__top,
.stm_lms_become_instructor {
    display: none !important;
}

.stm_lms_profile_buttons_set {
    margin-top: 20px !important;
    text-align: center !important;

    .stm-lms-user_message_btn,
    .stm-lms-user_announcement_btn,
    .stm_lms_become_instructor {
        display: none !important;
    }
}

.stm_lms_edit_account {
    .row:nth-child(3),
    .row:nth-child(4) {
        display: none !important;
    }
}

.stm-lms-buy-buttons .start-course {
    background-color: $secondary !important;
    border-radius: 0 !important;
}

.stm-lms-wrapper, .modal {
    & > .container > h1 {
        display: none;
    }

    .stm_lms_course__image {
        display: none;
    }

    .nav {
        &.nav-tabs {
            li {
                a {
                    display: block;
                }
            }
        }
    }

    .panel-collapse {
        &.in {
            display: block;
        }
    }
}

.modal, .modal-backdrop {
    &.fade {
        &.in {
            opacity: 1;
        }
    }
}

.stm_lms_login_wrapper__actions {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .btn {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.stm-lms-modal-login {
    .modal-body {
        padding: 0 !important;
    }

    #stm-lms-login {
        margin: 0;
    }

    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
}


.stm_lms_courses__filter_actions {
    input[type=submit] {
        font-size: .8rem;
    }
}

.stm-lms-course__sidebar {
    position: sticky;
    top: 2rem;
}

.single_product_after_title {
    .meta-unit {
        display: flex;

        .meta_values {
            flex: 0 0 100%;
        }
    }

    .meta_pull {
        .pull-left {
            width: 100%;
        }
    }
} 

.stm_lms_courses_grid__sort {
    display: none !important;
}

.courses_filters__activities {
    justify-content: flex-end;
}

.stm_lms_courses__filter_actions input[type=submit] {
    font-size: 0.8rem !important;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    height: 100%;

    -webkit-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);

    -webkit-transition: -webkit-transform .5s ease-out;
    -ms-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
}

.pace.pace-active {
    background: #fff;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
    background: $primary;

    pointer-events: none;
}

.woocommerce {
    margin-top: 3rem;
    margin-bottom: 3rem;

    .quantity {
        .qty {
            width: 6rem !important;
        }
    }
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 180px !important;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: $primary !important;
}

.col2-set {
    > * {
        max-width: 100%;
        width: 100% !important;
        float: none !important;
        margin-bottom: 20px;
    }
    
    .woocommerce-input-wrapper {
        width: 100%;
    }
}

form.woocommerce-checkout {
    display: flex;

    label {
        width: auto !important;
    }

    #order_review_heading {
        display: none;
    }

    #order_review {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.woocommerce ul.order_details {
    margin: 3em 0;
}