:root {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $body;
  color: $white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  transition: 0.2s all ease-in-out;
  outline: none;
  color: $primary;

  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    transition: 0.2s all ease-in-out;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;

  @media #{$desktop} {
    padding: 0 2rem;
  }
}
