@import "variables";
@import "html";
@import "reset";

.header {
  padding: 1rem 0;
  border-bottom: 1px solid $tertiary;
  margin-bottom: 2rem;

  .container,
  nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media #{$desktop} {
      flex-direction: row;
      align-items: center;
    }
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0 2rem;

    @media #{$desktop} {
      &:last-child {
        margin-left: auto;
      }
    }
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }
}

.logo {
  font-weight: 900;
  display: inline-flex;
  align-items: center;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  gap: 0.5rem;

  span {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.375rem;
    background-color: $primary;
    border-radius: 100%;
    display: block;

    svg {
      path {
        fill: $body;
      }
    }
  }
}

.post {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;

  a {
    text-decoration: none;
  }

  .title {
    display: flex;
    flex-direction: column;

    @media #{$desktop} {
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }

    a {
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }

    .post-data {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .tag {
    font-size: 0.75rem;
    background-color: $primary;
    color: $body;
    display: inline-block;
    padding: 0 0.75rem;
    border-radius: 0.75rem;
  }

  .domain {
    font-size: 0.75rem;
    color: $tertiary;
  }

  .data {
    font-size: 0.75rem;
    color: $primary;

    a {
      color: $primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.vote {
  border: 0;
  background: transparent;
  width: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  color: $primary;
  font-size: 0.75rem;
  text-align: center;

  svg {
    path {
      fill: $primary;
      transition: 0.2s all ease-in-out;
    }
  }

  &.can-vote {
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: $secondary;

      svg {
        path {
          fill: $secondary;
          transition: 0.2s all ease-in-out;
        }
      }
    }
  }

  &.already-voted {
    color: $white;

    svg {
      path {
        fill: $white;
        transition: 0.2s all ease-in-out;
      }
    }
  }
}

.comments-area {
  .logout-comment {
    margin-top: 2rem;
    color: $primary;
  }

  textarea {
    width: 80%;
  }

  .comment-list {
    margin-top: 2rem;
    padding: 0;
    list-style: none;

    li {
      border-left: 1px solid $tertiary;
      padding-left: 1rem;
      margin-top: 2rem;
    }

    .comment-author,
    .comment-meta,
    .reply {
      font-size: 0.75rem;
      color: $primary;
    }

    .comment-meta {
      margin-bottom: 1rem;
    }

    .reply {
      margin-top: 1rem;
    }

    .children {
      list-style: none;
      padding: 0;

      li {
        margin-top: 1.5rem;
      }
    }
  }
}

.page-title {
  margin-bottom: 1rem;
}

.form-control {
  margin-bottom: 0.5rem;

  label {
    cursor: pointer;
    margin-bottom: 0.5rem;
  }

  input[type="text"],
  input[type="url"] {
    width: 100%;

    @media #{$desktop} {
      width: 50%;
    }
  }

  .help-block {
    color: $primary;
    font-size: 0.75rem;
  }
}

.bookmarklet {
  border: 1px solid $tertiary;
  padding: 1.5rem;
  margin-top: 2rem;
  max-width: 70%;
  display: none;

  @media #{$desktop} {
    display: block;
  }

  a {
    background-color: $secondary;
    color: $body;
    display: inline-block;
    padding: 0.2em 0.5rem;
    text-decoration: none;
    margin-top: 0.5rem;
  }
}

.footer {
  padding: 1rem 0;
  border-top: 1px solid $tertiary;
  margin-top: 2rem;

  .container {
    display: flex;
    flex-direction: column;

    @media #{$desktop} {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      margin-top: 1rem;

      @media #{$desktop} {
        flex-direction: row;
        margin-top: 0;
      }
    }
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }
}
